<!-- Ірина Куцевол -->

<section class="restaurant-menu-section">
  <div class="container">
    <h2 class="restaurant-section-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-tablet-container">
      <div class="main-side-dishes">
        <h3 class="menu-dishes-title">Гарячі страви</h3>
        <ul class="list main-dishes-list">
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Борщ з телятини з квасолею</p>
              <p class="dish-descr">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">400 г</span>
              <span class="dish-price">240 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Суп сирний з куркою</p>
              <p class="dish-descr">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">400 г</span>
              <span class="dish-price">240 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Паста карбонара</p>
              <p class="dish-descr">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">350 г</span>
              <span class="dish-price">430 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Стейк зі свинини</p>
              <p class="dish-descr">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">400 г</span>
              <span class="dish-price">500 грн</span>
            </div>
          </li>
          <li class="menu-dish-container last">
            <div class="dish-name-descr-container">
              <p class="dish-name">Горбуша в соусі з білого вина</p>
              <p class="dish-descr">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">400 г</span>
              <span class="dish-price">400 грн</span>
            </div>
          </li>
        </ul>

        <h3 class="menu-dishes-title">Гарніри та закуски</h3>
        <ul class="list side-dishes-list">
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Запечені овочі</p>
              <p class="dish-descr">Кабачок, перець, помідор, баклажан</p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">200 г</span>
              <span class="dish-price">230 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Картопля фрі</p>
              <p class="dish-descr">Картопля, соус томатний</p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">150 г</span>
              <span class="dish-price">160 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Картопля по-селянськи</p>
              <p class="dish-descr">Картопля, спеції, соус пікантний</p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">150 г</span>
              <span class="dish-price">160 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Хрумкі соління з бочки</p>
              <p class="dish-descr">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">250 г</span>
              <span class="dish-price">350 грн</span>
            </div>
          </li>
          <li class="menu-dish-container last">
            <div class="dish-name-descr-container">
              <p class="dish-name">Крильця курячі в медовому соусі</p>
              <p class="dish-descr chicken-wings">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">400 г</span>
              <span class="dish-price">420 грн</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="salads-desserts-drinks">
        <h3 class="menu-dishes-title">Салати</h3>
        <ul class="list salads-list">
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Цезар з куркою</p>
              <p class="dish-descr">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">230 г</span>
              <span class="dish-price">450 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Цезар з креветками</p>
              <p class="dish-descr">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">230 г</span>
              <span class="dish-price">300 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <div class="dish-name-descr-container">
              <p class="dish-name">Грецький салат</p>
              <p class="dish-descr">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">230 г</span>
              <span class="dish-price">280 грн</span>
            </div>
          </li>
          <li class="menu-dish-container last">
            <div class="dish-name-descr-container">
              <p class="dish-name">М’ясний салат</p>
              <p class="dish-descr">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <div class="weight-price-container">
              <span class="dish-weight">230 г</span>
              <span class="dish-price">330 грн</span>
            </div>
          </li>
        </ul>

        <h3 class="menu-dishes-title">Десерти</h3>
        <ul class="list desserts-list">
          <li class="menu-dish-container">
            <p class="dessert-item">Торт наполеон</p>
            <div>
              <span class="dish-weight">230 г</span>
              <span class="dish-price">300 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <p class="dessert-item">Торт маковий</p>
            <div>
              <span class="dish-weight">230 г</span>
              <span class="dish-price">300 грн</span>
            </div>
          </li>
          <li class="menu-dish-container last">
            <p class="dessert-item">Тірамісу</p>
            <div>
              <span class="dish-weight">120 г</span>
              <span class="dish-price">260 грн</span>
            </div>
          </li>
        </ul>

        <h3 class="menu-dishes-title">Напої</h3>
        <ul class="list drinks-list">
          <li class="menu-dish-container">
            <p class="drink-item">Чай чорний/зелений</p>
            <div>
              <span class="dish-weight">500 мл</span>
              <span class="dish-price">100 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <p class="drink-item">Еспресо</p>
            <div>
              <span class="dish-weight">30 мл</span>
              <span class="dish-price">100 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <p class="drink-item">Американо</p>
            <div>
              <span class="dish-weight">150 мл</span>
              <span class="dish-price">100 грн</span>
            </div>
          </li>
          <li class="menu-dish-container">
            <p class="drink-item">Капучино</p>
            <div>
              <span class="dish-weight">200 мл</span>
              <span class="dish-price">160 грн</span>
            </div>
          </li>
          <li class="menu-dish-container last">
            <p class="drink-item late">Лате</p>
            <div>
              <span class="dish-weight">200 мл</span>
              <span class="dish-price">160 грн</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="table-book-btn">Забронювати столик</button>
  </div>
</section>
