<!-- Анна Полюхович -->
<section class="restaurant-gallery-section">
  <div class="container restaurant-container">
    <h2 class="hidden">About our kitchen</h2>
    <p class="restaurant-gallery-subtitle">Amet minim mollit non</p>
    <a class="dark-main-logo link" href="./index.html">MIMINO</a>

    <p class="about-restaurant-gallery">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="chef-wrapper">
      <picture>
        <!-- DESKTOP -->
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/desktop/desk-rest-1.jpeg    1x,
            ./images/desktop/desk-rest-1@2x.jpeg 2x
          "
        />

        <!-- TABLET -->
        <source
          media="(min-width:1024px)"
          srcset="
            ./images/tablet/tabl-rest-1.jpeg    1x,
            ./images/tablet/tabl-rest-1@2x.jpeg 2x
          "
        />

        <!-- MOBILE -->
        <source
          media="(min-width:414px)"
          srcset="
            ./images/mobile/mob-rest-1.jpeg    1x,
            ./images/mobile/mob-rest-1@2x.jpeg 2x
          "
        />

        <img
          class="chef-img"
          src="./images/mobile/mob-rest-1.jpeg"
          alt="chef is cooking"
        />
      </picture>
    </div>

    <div class="meat-ph-and-description">
      <div class="meat-ph">
        <picture>
          <!-- DESKTOP -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/desktop/desk-rest-2.jpeg    1x,
              ./images/desktop/desk-rest-2@2x.jpeg 2x
            "
          />

          <!-- TABLET -->
          <source
            media="(min-width:1024px)"
            srcset="
              ./images/tablet/tabl-rest-2.jpeg    1x,
              ./images/tablet/tabl-rest-2@2x.jpeg 2x
            "
          />

          <!-- MOBILE -->
          <source
            media="(min-width:414px)"
            srcset="
              ./images/mobile/mob-rest-2.jpeg    1x,
              ./images/mobile/mob-rest-2@2x.jpeg 2x
            "
          />

          <img
            class="meat-img"
            src="./images/mobile/mob-rest-2.jpeg"
            alt="meat"
          />
        </picture>
      </div>

      <p class="about-restaurant-gallery accent-text-rest">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
