<!-- Анна Полюхович -->
<section class="restaurant-gallery-section">
  <div class="container restaurant-container">
    <h2 class="hidden">About our kitchen</h2>
    <p class="restaurant-gallery-subtitle">Amet minim mollit non</p>
    <a class="dark-main-logo link" href="./index.html">MIMIHO</a>

    <p class="about-restaurant-gallery">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="chef-wrapper">
      <picture>
        <!-- DESKTOP -->
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/desktop/desk-rest-1.jpeg    1x,
            ./images/desktop/desk-rest-1@2x.jpeg 2x
          "
        />

        <!-- TABLET -->
        <source
          media="(min-width:1024px)"
          srcset="
            ./images/tablet/tabl-rest-1.jpeg    1x,
            ./images/tablet/tabl-rest-1@2x.jpeg 2x
          "
        />

        <!-- MOBILE -->
        <source
          media="(min-width:320px)"
          srcset="
            ./images/mobile/mob-rest-1.jpeg    1x,
            ./images/mobile/mob-rest-1@2x.jpeg 2x
          "
        />

        <img
          class="chef-img"
          src="./images/mobile/mob-rest-1.jpeg"
          alt="chef is cooking"
        />
      </picture>
    </div>

    <div class="meat-ph-and-description">
      <div class="meat-ph">
        <picture>
          <!-- DESKTOP -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/desktop/desk-rest-2.jpeg    1x,
              ./images/desktop/desk-rest-2@2x.jpeg 2x
            "
          />

          <!-- TABLET -->
          <source
            media="(min-width:1024px)"
            srcset="
              ./images/tablet/tabl-rest-2.jpeg    1x,
              ./images/tablet/tabl-rest-2@2x.jpeg 2x
            "
          />

          <!-- MOBILE -->
          <source
            media="(min-width:320px)"
            srcset="
              ./images/mobile/mob-rest-2.jpeg    1x,
              ./images/mobile/mob-rest-2@2x.jpeg 2x
            "
          />

          <img
            class="meat-img"
            src="./images/mobile/mob-rest-2.jpeg"
            alt="meat"
          />
        </picture>
      </div>

      <p class="about-restaurant-gallery accent-text-rest">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-wrapper">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg"
                alt="Dinner"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg"
                alt="Restaurant terrace"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg"
                alt="Dinner"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg"
                alt="Restaurant terrace"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="button-wrapper">
        <div class="swiper-button-prev">
          <svg class="arrow">
            <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
          </svg>
        </div>

        <div class="swiper-button-next">
          <svg class="arrow">
            <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
