<section class="restaurant-menu-section container">
  <h2 class="restaurant-section-title">МЕНЮ РЕСТОРАНУ</h2>
  <h3 class="main-dishes-title">Гарячі страви</h3>
  <ul class="list">
    <li>
      <p>Борщ з телятини з квасолею</p>
      <p>
        Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори,
        зелень, сметана
      </p>
      <p>400 г</p>
      <p>240 грн</p>
    </li>
    <li>
      <p>Суп сирний з куркою</p>
      <p>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
      <p>400 г</p>
      <p>240 грн</p>
    </li>
    <li>
      <p>Паста карбонара</p>
      <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
      <p>350 г</p>
      <p>430 грн</p>
    </li>
    <li>
      <p>Стейк зі свинини</p>
      <p>
        Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
      </p>
      <p>400 г</p>
      <p>500 грн</p>
    </li>
    <li>
      <p>Горбуша в соусі з білого вина</p>
      <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
      <p>400 г</p>
      <p>400 грн</p>
    </li>
  </ul>

  <h3 class="side-dishes-title">Гарніри та закуски</h3>
  <ul class="list">
    <li>
      <p>Запечені овочі</p>
      <p>Кабачок, перець, помідор, баклажан</p>
      <p>200 г</p>
      <p>230 грн</p>
    </li>
    <li>
      <p>Картопля фрі</p>
      <p>Картопля, соус томатний</p>
      <p>150 г</p>
      <p>160 грн</p>
    </li>
    <li>
      <p>Картопля по-селянськи</p>
      <p>Картопля, спеції, соус пікантний</p>
      <p>150 г</p>
      <p>160 грн</p>
    </li>
    <li>
      <p>Хрумкі соління з бочки</p>
      <p>
        Огірок солений, помідор квашений, квашена капуста, морква по-корейські
      </p>
      <p>250 г</p>
      <p>350 грн</p>
    </li>
    <li>
      <p>Крильця курячі в медовому соусі</p>
      <p>
        Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і
        соусом блючиз
      </p>
      <p>400 г</p>
      <p>420 грн</p>
    </li>
  </ul>

  <h3 class="salads-title">Салати</h3>
  <ul class="list">
    <li>
      <p>Цезар з куркою</p>
      <p>
        Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
        цезар
      </p>
      <p>230 г</p>
      <p>450 грн</p>
    </li>
    <li>
      <p>Цезар з креветками</p>
      <p>
        Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
        соус цезар
      </p>
      <p>230 г</p>
      <p>300 грн</p>
    </li>
    <li>
      <p>Грецький салат</p>
      <p>
        Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
        салату, соус
      </p>
      <p>230 г</p>
      <p>280 грн</p>
    </li>
    <li>
      <p>М’ясний салат</p>
      <p>
        Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
        перець, соус ранч
      </p>
      <p>230 г</p>
      <p>330 грн</p>
    </li>
  </ul>

  <h3 class="desserts-title">Десерти</h3>
  <ul class="list">
    <li>
      <p>Торт наполеон</p>
      <p>230 г</p>
      <p>300 грн</p>
    </li>
    <li>
      <p>Торт маковий</p>
      <p>230 г</p>
      <p>300 грн</p>
    </li>
    <li>
      <p>Тірамісу</p>
      <p>120 г</p>
      <p>260 грн</p>
    </li>
  </ul>

  <h3 class="drinks-title">Напої</h3>
  <ul class="list">
    <li>
      <p>Чай чорний/зелений</p>
      <p>500 мл</p>
      <p>100 грн</p>
    </li>
    <li>
      <p>Еспресо</p>
      <p>30 мл</p>
      <p>100 грн</p>
    </li>
    <li>
      <p>Американо</p>
      <p>150 мл</p>
      <p>100 грн</p>
    </li>
    <li>
      <p>Капучино</p>
      <p>200 мл</p>
      <p>160 грн</p>
    </li>
    <li>
      <p>Лате</p>
      <p>200 мл</p>
      <p>160 грн</p>
    </li>
  </ul>

  <button type="button" class="table-book-btn">Забронювати столик</button>
</section>
