// скидання деяких налаштувань браузера
.link {
      text-decoration: none;
    }
    .list {
      list-style: none;
    }
    h1,
    h2,
    h3,
    h4,
    p,
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    ul {
      padding-left: 0;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    // приховування тексту
    .hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    // налаштування контейнерів
    @media screen and (min-width: 320px) {
      .container {
        max-width: 414px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        outline: 1px solid red;
      }
    }
    @media screen and (min-width: 1024px) {
      .container {
        max-width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
      }
    }
    @media screen and (min-width: 1280px) {
      .container {
        max-width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
      }
    }