.overlay {
   
      /* Скрываем подложку  */
      opacity: 0;
      visibility: hidden;
      overflow: auto;
      
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 253, 238,0.5);
      backdrop-filter: blur(2px);
      z-index: 20;
      transition: var(--animation);
      transition: opacity var(--animation),
      visibility var(--animation);
   }


   /* Стили для модальных окон */

.modal {
   
      /* Скрываем окна  */
      opacity: 0;
      visibility: hidden;
      
      
      /*  Установаем ширину окна  */
      width: 100%;
      max-width: 500px;
      
      /*  Центрируем и задаем z-index */
      // position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 30; /* Должен быть выше чем у подложки*/
      
      /*  Побочные стили   */
      box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
      text-align: center;
      padding: 30px;
      border-radius: 3px;
      background-color: #fff;
      transition: 0.3s all;
   }
   
   
   /* Стили для активных классов подложки и окна */
   
   .modal.active,
   .overlay.active{
      opacity: 1;
      visibility: visible;
   }
   
   
   /* Стили для кнопки закрытия */
   
   .modal__cross {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 20px;
      right: 20px;
      fill: #444;
      cursor: pointer;
   }
   
   
   /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
   
//    a {
//       padding: 20px;
//       display: inline-block;
//       text-decoration: none;
//       background-color: #414b52;
//       margin: 10px;
//       color: #fff;
//       border-radius: 3px;
//    }








// ****** All modal window ******


// .backdrop{
//     position: fixed;
//     top: 0;
//     left: 0;

//     width: 100%;
//     height: 100%;

//     background: rgb(255, 253, 238,0.5);

//     opacity: 1;
//     visibility: visible;

//     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
  
    width: calc(100% - 18px);
    height: auto;
    max-height: 80vh;
    overflow: auto;
  
    // background: #fcfcfc;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 4px;
  
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--animation), opacity var(--animation);

    background: #FFFDEE;
    border-radius: 2px;

    // outline: 1px solid red;
}
.modal-close-btn {
    position: absolute;
    right: 16px;
    top: 16px;

    padding: 3px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;

    transition: background-color var(--animation)
  }

.icon-close{
    stroke: #000000;
    width: 100%;
    height: 100%;
}

.modal > form{
    padding-right: 6px;
    padding-left: 6px;
}

// // ===== Modal___ЗАБРОНЮВАТИ СТОЛИК =====
// // .modal-booked-table{}

.modal-main-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;

    
    margin-top: 60px;
    margin-bottom: 40px;
}

.modal-booked-table-form{
    display: flex;
    flex-direction: column;
}

.feedback-input{
    display: flex;

    width: 100%;
    height: 54px;

    background-color: transparent;
    border: 1px solid #C79002;
    border-radius: 2px;
}

.feedback-input::placeholder{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #808080;

    padding-left: 12px;
}

.feedback-field{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.madal-main-btn{
    width: 384px;
    height: 64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    background: #000000;
    /* Akzent yellow */

    border: 1px solid #F3C653;
    border-radius: 2px;

    margin-top: 20px;
    margin-bottom: 60px;
}
.madal-main-btn:focus,
.madal-main-btn:hover{
    background-color: #F3C653;
    /* Akzent yellow */

    border: 1px solid #F3C653;
    border-radius: 2px;
    color: #000000;
}

// // ===== Modal___ЗАБРОНЮВАТИ НОМЕР =====
// // .modal-room-reservation{}

.label-wrapper {
    margin-top: 8px;
    margin-bottom: 20px;
}

// // ===== Modal___Ціна =====
// // .modal-room-price{}

.modal-type-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #808080;

    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 15px;
}

.modal-form-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-left: 0px;
    margin-bottom: 20px;
}