
// .overlay {
   
//       opacity: 0;
//       visibility: hidden;
//       overflow: auto;
      
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background: rgb(255, 253, 238,0.5);
//       backdrop-filter: blur(2px);
//       z-index: 20;
//       transition: var(--animation);
//       transition: opacity var(--animation),
//       visibility var(--animation);}

    
.overlay {
        opacity: 1;
        visibility: hidden;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(255, 253, 238,0.5);
        backdrop-filter: blur(2px);
        z-index: 20;
        width: 100%;
        height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


   /* Стили для модальных окон */

 
.modal {
   
      /* Скрываем окна  */
      opacity: 1;
      visibility: hidden;
      
      
      /*  Установаем ширину окна  */
      width: calc(100% - 18px);
      max-height: 80vh;

    // -  max-width: 500px;
    //   height: auto;

      /*  Центрируем и задаем z-index */
      // position: fixed;
      position: fixed;
      top: 60%;
      left: 50%;
    //  - transform: translate(-50%, -50%);
      
      z-index: 30; /* Должен быть выше чем у подложки*/
      transform: translate(-50%, -50%) scale(1);
      
      /* Скрол */
      overflow: auto;
      
      /*  Побочные стили   */
      box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    //  - text-align: center;
    //  - padding: 30px;
      border-radius: 2px;
      background: #FFFDEE;
      transition: 0.3s all;

      padding-top: 60px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 60px;
   }
   
   
   /* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
      opacity: 1;
      visibility: visible;
}
   
   
   /* Стили для кнопки закрытия */
   
// .modal__cross {
//       width: 15px;
//       height: 15px;
//       position: absolute;
//       top: 20px;
//       right: 20px;
//       fill: #444;
//       cursor: pointer;
// }
   
.modal-close-btn {
    position: absolute;
    right: 16px;
    top: 16px;

    padding: 3px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;

    transition: background-color var(--animation)
  }

.icon-close{
    stroke: #000000;
    width: 100%;
    height: 100%;
}

.icon-close:hover,
.icon-close:focus {
    stroke: brown;
}

// .modal > form{
//     padding-right: 6px;
//     padding-left: 6px;
// }

// // ===== Modal___ЗАБРОНЮВАТИ СТОЛИК =====
// // .modal-booked-table{}

.modal-main-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;

    
    // padding-top: 60px;
    margin-bottom: 40px;
}

.modal-booked-table-form{
    display: flex;
    flex-direction: column;
}

.feedback-input{
    display: flex;

    width: 100%;
    height: 54px;

    background-color: transparent;
    border: 1px solid #C79002;
    border-radius: 2px;
}

.feedback-input::placeholder {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #808080;

    padding-left: 12px;
}

.select{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #808080;
    background: #FFFDEE;

    padding-left: 12px;
}

.feedback-field{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.madal-main-btn{
    width: 384px;
    height: 64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    background: #000000;

    border: 1px solid #F3C653;
    border-radius: 2px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.madal-main-btn:focus,
.madal-main-btn:hover{
    background-color: #F3C653;
    border: 1px solid #F3C653;
    border-radius: 2px;
    color: #000000;
}


// ЗАБРОНЮВАТИ СТОЛИК --- MOBILE

// .table-form-txt{
//     display: inline-block;
//     margin-top: 8px;
//     margin-bottom: 20px;
// }
// .feedback-input:hover{
//     background: #F3C653;
    
// }
.modal-booked-table .modal-main-text{
    padding-top: 0;
}
@media screen and (max-width:413px){
    .modal-booked-table{
        width:calc(100% - 20px);
    }
    .modal-booked-table .madal-main-btn{
        width: auto;
    }
    .modal-booked-table .feedback-input{
        width: 100%;
    }
}


.table-form-txt{
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 20px;
    }


@media screen and (min-width:432px){
    .modal-booked-table{
        width: 414px;
    }
}
// .modal-booked-table .feedback-input{
//     width: 384px;
//     height: 54px;
// }

// забронювати столик tablet


@media screen and (min-width:1024px){
    .modal-booked-table{
    width: 712px;
    height: 522px;
    padding: 60px;
    // align-items: center;
    // display: flex;
    // flex-direction: row;
    }
    .table-wrapper{
        column-count: 2;
        display: block;
    }
    .modal-booked-table .feedback-input{
        width: 288px;
        height: 64px;
    }
    .modal-booked-table .feedback-field {
        // display: block;
        // margin-bottom: 8px;
        // margin-bottom: 28px;
        
    }
    .modal-booked-table .table-form-txt{
        margin-bottom: 28;
    }

    .madal-main-btn {
        width: 592px;
    }
    .modal-booked-table .madal-main-btn{
        margin-top: 12px;
    }
}
//     .modal-booked-table .feedback-field:nth-child(3),
//     .modal-booked-table .feedback-field:nth-child(4){
//         margin-bottom: 0px;
//     }
// }

    // .modal-booked-table .feedback-input{
    //     

    // .modal-booked-table .feedback-input{
    //     margin-bottom: 28px;
    // }
    // .modal-booked-table-form{
    //     column-count: 2;
    //     display: block;
    // }


    // .modal-booked-table .feedback-input{
    //     width: 384px;
    //     height: 54px;
    // }

    // ---- .modal-booked-table .madal-main-btn{
    //     margin-top: 40px;
    // }
    

// @media screen and (min-width:1024px){
//     .modal-booked-table{
//     width: 712px;
//     height: 522px;
//     padding: 60px;
//     }
// }

// 
// ===== Modal___ЗАБРОНЮВАТИ НОМЕР =====

.modal-room-reservation{
    width: calc(100% - 18px);
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-room-reservation .madal-main-btn{
    height: 64px;
}
@media screen and (max-width:413px){
    .modal-room-reservation{
        width: calc(100% - 18px);
    }
    .modal-room-reservation .madal-main-btn{
        width: auto;
    }
    .modal-room-reservation .madal-main-btn{
        width: auto;
        height: auto;
    }
    .modal-room-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media screen and (min-width:432px){
    .modal-room-reservation{
        width: 414px;
    }
}
.label-wrapper {
    margin-top: 8px;
    margin-bottom: 20px;
}


@media screen and (min-width:1024px){
    .modal-room-reservation{
        // position: relative;
    width: 712px;
    height: 638px;
    }

    .modal-form-position{
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
        // column-count: 2;
        // justify-content: start;
        gap: 16px;

    }
    .modal-room-reservation-form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    // .modal-room-reservation > .label-wrapper{
    //     margin-bottom: 0px;
    // }
    .input-flex-one{
        display: flex;
        flex-direction: column;
    }

    .input-group{
        width: 288px;
    }

    .select-box{
        flex-wrap: wrap;
        display: flex;
        width: 288px;
        // justify-content: flex-end;
        // align-self: end;
    }

    // .select-box{}
        
    // .modal-form-position > .feedback-input{
    //     column-count: 2;
    // }
   


}


// ===== /Modal___ЗАБРОНЮВАТИ НОМЕР =====



// // ===== Modal___Ціна =====

.modal-room-price{
    // width: 414px;
    height: 572px;
    padding-top: 60px;
    
}

// .modal-room-price .modal-main-text{
//     padding: 0;
// }
.modal-type-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #808080;

    // margin-top: 40px;
    margin-bottom: 28px;
}
// .modal-room-price .left{ 
// margin-top: 0;}
// текст вліво////////////////////


.modal-form-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-left: 0px;
    margin-bottom: 20px;
}
.box-btn-center{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:413px){
    .modal-room-price{
        width:calc(100% - 18px);
    }
    .modal-room-price .madal-main-btn{
        width: auto;
    }
}
@media screen and (min-width:432px){
    .modal-room-price{
        width: 414px;
    }
}
@media screen and (max-width:1023px){
    .modal-room-price .madal-main-btn{
        margin-top: 0;
    }
    .price-wrapper{
        margin-bottom: 40px;
    }
}
@media screen and (min-width:1024px){
    .modal-room-price{
        width: 712px;
        height: 489px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .modal-main-text{
        font-size: 40px;
    }
    .modal-type-text{
        margin-left: 0px;
    }
    .price-wrapper{
        column-count: 2;
    }
    
    .modal-room-price form{
        padding-left: 0px;
        padding-right: 0px;
    }
    .modal-room-price .feedback-input{
        width: 288px;
        height: 64px;
    }
    .modal-room-price .feedback-input:first-child{
        margin-right: 16px;
    }
    .btn-wrapper{
        margin-left: auto;
        margin-right: auto;
        padding: 0px;

        width: 592px;
        height: 64px;
    }

    .box-btn-center{
        display: flex;
        justify-content: center;
    }

    .madal-main-btn{
        font-size: 24px;
    }

}
.modal-room-price .madal-main-btn{
    height: 64px;
}
//     .modal-room-price:not(:nth-child(3)){
//         justify-content: center;
//     }
// }

// Стилізація значку календар

// ::-webkit-calendar-picker-indicator {
//     color: transparent;
//     opacity: 1;
//     background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
//     background-size: contain;}
//