:root {
    --text-font:'Montserrat', sans-serif;
    --title-font:'Times New Roman',sans-serif;
    --logo-font:'Film P3',sans-serif;
    --background-main-color:#FFFDEE; //  (+modal background-color)
    --background-section-color-accent:#F0ECD6;
    --text-main-color:#7A7A7A;
    --text-accent-color:#C79002;
    --main-white:#FFFFFF;
    --secondary-white:#E5E5E5; // ( hero address color)
    --main-black:#000000;  // (title color + background-color btn)
    --background-btn-dark-shadow:rgba(0, 0, 0, 0.4);
    --subtitle-color:#B4B4B4;
    --accent-yellow:#F3C653; 
    --logo-dark-color:#494848; // (+contacts-map color)
    --modal-text-input:#808080;
    --footer-color:#0E0C07;
    --background-image: #dadada
}