:root {
  --text-font: 'Montserrat', sans-serif;
  --title-font: 'Times New Roman', sans-serif;
  --logo-font: 'FilmP3', sans-serif;
  --background-main-color: #fffdee; //  (+modal background-color)
  --background-section-color-accent: #f0ecd6;
  --text-main-color: #7a7a7a;
  --text-accent-color: #c79002;
  --main-white: #ffffff;
  --secondary-white: #e5e5e5; // ( hero address color)
  --main-black: #000000; // (title color + background-color btn)
  --background-btn-dark-shadow: rgba(0, 0, 0, 0.4);
  --subtitle-color: #b4b4b4;
  --accent-yellow: #f3c653;
  --logo-dark-color: #494848; // (+contacts-map color)
  --modal-text-input: #808080;
  --footer-color: #0e0c07;
}
