@import './common';
@import './fonts';
@import './vars';
@import './base';

@import './header';
@import './homepage';
@import './restaurant';
@import './hotel';
@import './room';
@import './footer';

// Modal-Stylesnpm start


.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgb(255, 253, 238,0.4);

    opacity: 1;
    visibility: visible;

    // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    // margin-right: 16px;
//   width: calc(100%-18px);
     height: auto;
//   max-height: 80vh;
//   overflow: auto;

//   background: #fcfcfc;
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;

//   opacity: 1;
    transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    right: 16px;
    top: 16px;

    padding: 3px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 50%;
  
    // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.icon-close{
    stroke: #000000;
    width: 100%;
    height: 100%;
}

.modal > form{
    width: 414px;
    padding-right: 15px;
    padding-left: 15px;
}

// Modal___ЗАБРОНЮВАТИ СТОЛИК
.modal-booked-table{
    outline: 2px solid red;
    // 
    // width: 414px;
    // padding-right: 15px;
    // padding-left: 15px;

    background: #FFFDEE;
    border-radius: 2px;
}

.modal-main-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;

    
    margin-top: 60px;
    margin-bottom: 40px;
}

.modal-booked-table-form{
    display: flex;
    flex-direction: column;
}

.feedback-input{
    display: flex;

    width: 384px;
    height: 54px;

    background-color: transparent;
    border: 1px solid #C79002;
    border-radius: 2px;
}

.feedback-input::placeholder{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #808080;

    padding-left: 12px;
}

.feedback-field{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.madal-main-btn{
    width: 384px;
    height: 64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    background: #000000;
    /* Akzent yellow */

    border: 1px solid #F3C653;
    border-radius: 2px;

    margin-top: 20px;
    margin-bottom: 60px;
}
.madal-main-btn:focus,
.madal-main-btn:hover{
    background-color: #F3C653;
    /* Akzent yellow */

    border: 1px solid #F3C653;
    border-radius: 2px;
    color: #000000;
}

// Modal___ЗАБРОНЮВАТИ НОМЕР 
.modal-room-reservation{
    outline: 2px solid red;
    width: 414px;

    background: #FFFDEE;
    border-radius: 2px;
}

.label-wrapper {
    margin-top: 8px;
    margin-bottom: 20px;
}

// Modal___Ціна
.modal-room-price{
    outline: 2px solid red;
    width: 414px;

    background: #FFFDEE;
    border-radius: 2px;
}

.modal-type-text{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #808080;

    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 15px;
}

.modal-form-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #C79002;

    margin-left: 0px;
    margin-bottom: 20px;
}