// Владислав Литвиненко

.contacts {
    background-color: var(--background-main-color);
}

.main-contacts-wrapper {
    padding: 36px 15px 32px 15px;
    // background-color: var(--background-main-color);
}
// Логотип посилання-mobile
 .contacts-logo {
    font-family: 'FilmP3';
    font-style: normal;
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: #494848;
}

//Головний текст -(Ресторанно-готельний комплекс)
 .contacts-main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5F5F5F;

    margin-top: 12px;
 }

// Контакти ресторан
.contacts-restaurant-wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 40px;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    background-color: #FFFFFF;
}
.contacts-wrapper-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #C79002;

    margin-right: 22px;
}
.contacts-icon {
    fill:#C79002;
    margin-right: 14px;
}
.contacts-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);

    letter-spacing: 0.02em;
    color: #494848;
    display: flex;
    align-items: center;
    padding: 9px 8px 7px 8px;
}

// Контакти готель
.contacts-hotel-wrapper {
    display: flex;
    align-items: center;

    margin-top: 16px;
}
.contacts-tel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 40px;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    background-color: #FFFFFF;
}
.contacts-tel-wrapper-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #C79002;

    margin-right: 54px;
}

.contacts-link-hotel{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #494848;

    margin-right: 12px;
}

.contacts-link-hotel-second{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #494848;
}

// Псевдо-кнопка посилання на карту
.map-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 76px;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    background-color: #FFFFFF;
    
    margin-top: 16px;
    margin-left: 124px;
}

@media screen and (max-width:413px) {
    .map-wrapper{
        margin-left: auto;
    }
    .contacts-tel-wrapper{
        flex-wrap: wrap;
    }
    .card-map{
        max-width: 100%;
    }

    .contacts-wrapper{
        width: 166px;
    }

    // .contacts-tel-wrapper-text{
    //     margin-right: 5px;
    // }
    // .contacts-tel-wrapper{
       
    // }
    .iframe-wrapper {
        display: none;
    }
    
}

.map-icon {
    fill:#C79002;
}
.map-link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 33px 7px 16px;
}

.map-wrapper-adress {
    max-width: 181px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #494848;

    margin-left: 16px;
}

// Карта
.card-map {
    width: 384px;
    height: 220px;
    margin-top: 32px;

    border: 1px solid #BABABA;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

// === Для планшета ===

// Логотип посилання-tablet
@media screen and (min-width: 1024px) {
    .main-contacts-wrapper {
        display: flex;
        padding: 0px;
        justify-content: space-between;
        padding-left: 47px;
    }
    .contacts-tablet{
        margin-top: 56px;
        margin-bottom: 44px;
    }
    .contacts-logo{
        font-size: 64px;
        line-height: calc(69/64);
    }
    .contacts-main-text{
        margin-top: 8px;
    }
    .contacts-restaurant-wrapper{
        display: block;
    }
    .contacts-restaurant-wrapper > .contacts-wrapper{
        margin-top: 8px;
    }
    .contacts-wrapper-text{
        margin-top: 52px;
    }
    .contacts-hotel-wrapper{
        display: block;
        margin-top: 24px;
    }
    .contacts-hotel-wrapper > .contacts-tel-wrapper{
        margin-top: 8px;
        width: 264;
    }
    .map-wrapper{
        margin-top: 48px;
        margin-left: 0px;
        width: 285px;
        height: 56px;
    }
    .map-wrapper-adress{
        max-width: 233px;

    }
    .map-link{
        padding: 0;
    }
    .iframe-wrapper{
        padding-top: 69px;
        padding-right: 47px;
        padding-bottom: 40px;
    }
    .card-map{
        width: 535px;
        height: 412px;
        margin-top: 0px;
    }
}

// === Для десктопа===

@media screen and (min-width: 1280px){
    .main-contacts-wrapper{
        padding-left: 85px;
    }
    .contacts-tablet{
        margin-top: 56px;
        margin-bottom: 73px;
    }
    .contacts-main-text{
        font-size: 20px;
        line-height: calc(24/20);
        margin-top: 16px;
    }
    .contacts-wrapper-text {
        margin-top: 40px;
    }
    .iframe-wrapper {
        padding-top: 64px;
        padding-right: 85px;
        padding-bottom: 74px;
    }
    .card-map{
        width: 634px;
    }
}
