// Alona Petrovska
.homepage-hotel-main{
    padding-top: 24px;
    padding-bottom: 40px;
}
.homepage-hotel-main-section .homepage-hotel-logo{
    color: var(--main-white);
    text-align: center;
    margin-bottom: 12px;
    text-indent: -0.3em;
    direction: rtl;
}
.homepage-hotel-main-section-tittle{
font-family: var(--text-font);
font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color: var(--main-white);
margin-bottom: 20px;
margin-left: 186px;
}
.homepage-hotel-main-section-text{
width: 240px;
font-weight: 600;
font-size: 12px;
line-height: calc(15/12);
letter-spacing: 0.02em;
color: #BABABA;
margin-left: 17px;
// text-indent: -0.3em;
padding-left: 10px;
// direction: rtl;
}
.homepage-hotel-main-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage-hotel-main-btn,
.homepage-hotel-main-link{
    width: 236px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background-color: var(--main-black);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.homepage-hotel-main-btn:hover,
.homepage-hotel-main-link:hover{
    background-color: var(--main-white);
    border: 2px solid #F3C653;
}
.arrow-white{
    fill: var(--main-white);
}
.homepage-btn-text{
    font-family:var(--text-font);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(20/16);
text-align: center;
letter-spacing: 0.02em;
color: var(--accent-yellow);
}
.homepage-hotel-main-slider{
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width:1023px){
    
    .homepage-hotel-main{
        position: relative;
    }
    .homepage-hotel-main-icon.hr{
        width: 274px;
        height: 270px;
        margin-left: 100px;
        margin-bottom: 80px;
    }
    .homepage-hotel-main-section .svg-list{
        position: absolute;
        bottom: 184px;
        right: 40px;
    //     display: flex;
    //    justify-content: flex-end;
    //     margin-bottom: 32px;
    //     margin-right: 15px;
    
    }
}

.homepage-hotel-main-section{
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    // max-width: 767px;
    margin: 0 auto;
}
.homepage-hotel-main-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}
@media screen and (max-width:1023px){
    .homepage-hotel-main-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/mobile/background/mob-bg-hp-3.jpeg)
}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px),
screen and (min-resolution: 192dpi) and (max-width: 1023px),
screen and (min-resolution: 2dppx) and (max-width: 1023px){
    .homepage-hotel-main-section{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/mobile/background/mob-bg-hp-3@2x.jpeg)
}
}
@media screen and (min-width:1024px){
    .homepage-hotel-main-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/tablet/background/tabl-bg-hp-3.jpeg)
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
screen and (min-resolution: 192dpi) and (min-width: 1024px),
screen and (min-resolution: 2dppx) and (min-width: 1024px){
    .homepage-hotel-main-section{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/tablet/background/tabl-bg-hp-3@2x.jpeg)
}
}
@media screen and (min-width: 1024px){
    .homepage-hotel-main{
        padding-top: 48px;
    }
    
    .homepage-hotel-main-section-tittle{
        margin-left: 0;
        margin-bottom: 8px;
        margin-top: 16px;
        font-size: 24px;
        line-height: calc(30/24);
    }
    .homepage-hotel-main-section-text{
        width: 549px;
        margin-left: 0;
        font-size: 16px;
        line-height: calc(20/16);
        // padding-left: 18px;
    }
    .homepage-hotel-main-first{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 231px;
    }
    .homepage-hotel-main-slider{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 34px;
        margin-right: 32px;
    }
    .homepage-hotel-main-slider-img{
        width: 270px;
        height: 270px;
    }
    .homepage-hotel-main-slider-img.hb,
    .homepage-hotel-main-slider-img.hr{
        width: 162px;
        height: 270px;
    }
    .homepage-hotel-main-second{
        display: flex;
        align-items: flex-end;
        margin-bottom: 24px;
    }
    .homepage-hotel-main-section .svg-list{
        justify-content: end;
        margin-right: 270px;
        
    }
}
@media screen and (min-width: 1280px){
    .homepage-hotel-main-slider{
        gap: 86px;
        flex-direction: row;
    }
    .homepage-hotel-main-slider-img.hr{
        width: 270px;
        height: 270px;
    }

}
@media screen and (min-width:1280px){
    .homepage-hotel-main-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/desktop/background/desk-bg-hp-3.jpeg)
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px){
    .homepage-hotel-main-section{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/desktop/background/desk-bg-hp-3@2x.jpeg);
    }
}
// ////////////////////////////////////////////////////////////////////////////
// ====================================Roma=================================
.homepage-hotel-main-first {
    margin-bottom: 48px;
}
@media screen and (min-width:1024px) {
    .homepage-hotel-main-first {
            margin-bottom: 40px;
        }
}
