<!-- MAKSYM. -->
<section class="hero-room section">
  <div class="hero-room__container container">
    <div class="hero-room__content">
      <h1 class="hero-room__title">
        <span class="hero-room__title--text">Двомісний номер</span> люкс
      </h1>
      <p class="hero-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="hero-room__wrapper">
        <div class="room-hero-map">
          <a
            href="https://goo.gl/maps/ZLxpuzTgKzrtv1GB9"
            class="room-hero-map__link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="room-hero-map__icon" width="24" height="24">
              <use href="/src/images/sprite-svg.svg#icon-map-point"></use>
            </svg>

            <pre class="room-hero-map__text">
Україна, м. Полтава,         вул. Маршала Бірюзова, 15 </pre
            >
          </a>
        </div>
        <ul class="hero-room__socials hero-socials__list list">
          <li>
            <a
              class="header-socials__link link"
              href=""
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-socials__icons" width="22" height="22">
                <use href="./images/sprite-svg.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="header-socials__link link"
              href=""
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-socials__icons" width="20" height="20">
                <use href="./images/sprite-svg.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="header-socials__link link"
              href=""
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-socials__icons" width="20" height="18">
                <use href="./images/sprite-svg.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button type="button" class="hero-room__buttons hero-buttons js-open-modal" data-modal="Переглянути ціни">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
