<!-- Veronika -->
<section class="hotel-gallery-double">
  <div class="container hotel-gallery-double-container">
    <!-- logo+text -->
    <div class="hotel-room-two-logo-box">
      <p class="hotel-room-two-logo-text">Amet minim mollit non</p>
      <a class="hotel-room-two-logo link" href="/src/index.html">MIMIHO</a>
    </div>

    <!-- title+text -->
    <div class="hotel-room-two-title-box">
      <h2 class="hotel-room-two-title">ДВОМІСНИЙ НОМЕР</h2>
      <p class="hotel-room-two-subtitle">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!-- img-room -->
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/desktop/desk-hotel-room.jpeg    1x,
          ./images/desktop/desk-hotel-room@2x.jpeg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          ./images/tablet/tabl-hotel-room.jpeg    1x,
          ./images/tablet/tabl-hotel-room@2x.jpeg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          ./images/mobile/mob-hotel-room.jpeg    1x,
          ./images/mobile/mob-hotel-room@2x.jpeg 2x
        "
        type="image/jpeg"
      />
      <img
        class="hotel-room-two-img"
        src="/src/images/mobile/mob-hotel-room.jpeg"
        alt="ДВОМІСНИЙ НОМЕР"
      />
    </picture>

    <!-- slider -->
    <div class="slider-wrapper margin-slider top">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide otline">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hotel/desk-sl-hotel-1.jpeg    1x,
                  ./images/desktop/slider/hotel/desk-sl-hotel-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hotel/tabl-sl-hotel-1.jpeg    1x,
                  ./images/tablet/slider/hotel/tabl-sl-hotel-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hotel/mob-sl-hotel-1.jpeg    1x,
                  ./images/mobile/slider/hotel/mob-sl-hotel-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hotel/mob-sl-hotel-1.jpeg"
                alt="room"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide otline">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hotel/desk-sl-hotel-2.jpeg    1x,
                  ./images/desktop/slider/hotel/desk-sl-hotel-2@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hotel/tabl-sl-hotel-2.jpeg    1x,
                  ./images/tablet/slider/hotel/tabl-sl-hotel-2@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hotel/mob-sl-hotel-2.jpeg    1x,
                  ./images/mobile/slider/hotel/mob-sl-hotel-2@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hotel/mob-sl-hotel-2.jpeg"
                alt="Restaurant terrace"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide otline">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hotel/desk-sl-hotel-3.jpeg    1x,
                  ./images/desktop/slider/hotel/desk-sl-hotel-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hotel/tabl-sl-hotel-3.jpeg    1x,
                  ./images/tablet/slider/hotel/tabl-sl-hotel-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hotel/mob-sl-hotel-3.jpeg    1x,
                  ./images/mobile/slider/hotel/mob-sl-hotel-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hotel/mob-sl-hotel-3.jpeg "
                alt="Dinner"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
          <div class="swiper-slide otline">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hotel/desk-sl-hotel-4.jpeg    1x,
                  ./images/desktop/slider/hotel/desk-sl-hotel-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hotel/tabl-sl-hotel-4.jpeg    1x,
                  ./images/tablet/slider/hotel/tabl-sl-hotel-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hotel/mob-sl-hotel-4.jpeg    1x,
                  ./images/mobile/slider/hotel/mob-sl-hotel-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hotel/mob-sl-hotel-4.jpeg "
                alt="Restaurant terrace"
                loading="lazy"
                width="326"
                height="287"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="button-wrapper margin-button-slider reset-pading-arrow">
        <div class="swiper-button-prev margin-arrow">
          <svg class="arrow">
            <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
          </svg>
        </div>

        <div class="swiper-button-next">
          <svg class="arrow">
            <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="hotel-room-two-btn-list">
      <a class="hotel-room-two-btn-link link" href="/src/room.html"
        >Детальніше</a
      >

      <button class="hotel-room-two-btn js-open-modal" data-modal="Переглянути ціни" type="button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
