<section>
  <div class="container">
    <div class="luxury-room">
      <div class="position-desk-tablet">
        <h2 class="hidden">Готельний номер люкс</h2>
        <p class="content-room">Amet minim mollit non</p>
        <a class="logo link" href="#">MIMIHO</a>
        <h3 class="title-room">ДВОМІСНИЙ НОМЕР люкс</h3>
        <p class="content-room_subtitle">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <!-- <picture>
          <source media="(min-width: 1280px)" srcset="
                ./img/modern-studio-apartment-design-desk.jpg   1x," type="image/jpeg" />
          <source media="(min-width: 1024px)" srcset="
                ./img/modern-studio-apartment-design-tablet.jpg   1x," type="image/jpeg" />
          <img class="room-image" srcset="
                ./img/modern-studio-apartment-design-mobile.jpg" src="./img/modern-studio-apartment-design-mobile.jpg"
            alt="picture 1" />
        </picture> -->
    </div>
  </div>
</section>
