<section class="hotel-gallery-double">
  <div class="container">
    <div>
      <p class="content-room">Amet minim mollit non</p>
      <a class="logo link" href="#">MIMIHO</a>
    </div>

    <div>
      <h2 class="title-room">ДВОМІСНИЙ НОМЕР</h2>
      <p class="content-room_subtitle">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <img
      srcset="
        /src/images/mobile/mob-hotel-room.jpeg    1x,
        /src/images/mobile/mob-hotel-room@2x.jpeg 2x
      "
      scr="/src/images/mobile/mob-hotel-room.jpeg"
      width="244"
      alt="ДВОМІСНИЙ НОМЕР"
    />

    <ul class="list">
      <li>
        <button type="button">
          <a class="link" href="/src/room.html">Детальніше</a>
        </button>
      </li>
      <li>
        <button data-modal-open type="button">
          <a class="link" href="#">Переглянути ціни</a>
        </button>
      </li>
    </ul>
  </div>
</section>
