<!-- Юля Балабуха -->

<section class="hotel-gallery-triple">
    <div class="container hotel-gallery-triple-wrap">
        <p class="hotel-gallery-triple-pretitle">Amet minim mollit non</p>
        <a class="hotel-gallery-triple-logo link" href="./index.html"><span
                class="hotel-gallery-triple-logo-part">MIMIH</span>O</a>
        <h2 class="hotel-gallery-triple-title">Трьохмісний номер</h2>
        <p class="hotel-gallery-triple-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        
        <picture class="hotel-gallery-triple-img">
            <!-- Декстоп -->
            <source media="(min-width: 1280px)"
                srcset="./images/desktop/desk-hotel-room.jpeg 1x, ./images/desktop/desk-hotel-room@2x.jpeg 2x">
        
            <!-- Планшети -->
            <source media="(min-width: 1024px)"
                srcset="./images/tablet/tabl-hotel-room.jpeg 1x, ./images/tablet/tabl-hotel-room@2x.jpeg 2x">
        
            <!-- Мобільні -->
            <source media="(min-width: 320px)"
                srcset="./images/mobile/mob-hotel-room.jpeg 1x, ./images/mobile/mob-hotel-room@2x.jpeg 2x">
        
            <img 
            class="hotel-gallery-triple-img-original" 
            src="./images/mobile/mob-hotel-room.jpeg" 
            alt="Трьохмісний номер"
            loading="lazy"
            >
        </picture>
        
        <div class="hotel-gallery-triple-container">
            <div class="hotel-gallery-triple-wrapper">
                <ul class="hotel-gallery-triple-list-img list">
                    <li class="hotel-gallery-triple-item-img">
                        <picture>
                            <!-- Декстоп -->
                            <source media="(min-width: 1280px)"
                                srcset="./images/desktop/slider/hotel/desk-sl-hotel-1.jpeg 1x, ./images/desktop/slider/hotel/desk-sl-hotel-1@2x.jpeg 2x">
        
                            <!-- Мобільні та планшети -->
                            <source media="(min-width: 320px)"
                                srcset="./images/mobile/slider/hotel/mob-sl-hotel-1.jpeg 1x, ./images/mobile/slider/hotel/mob-sl-hotel-1@2x.jpeg 2x">
        
                            <img 
                            class="hotel-gallery-triple-first-img" 
                            src="./images/mobile/slider/hotel/mob-sl-hotel-1.jpeg" 
                            alt="Рукомийник"
                            loading="lazy"
                            >
                        </picture>
                    </li>
                    <li class="hotel-gallery-triple-item-img hotel-gallery-triple-second-img">
                        <picture>
                            <!-- Декстоп -->
                            <source media="(min-width: 1280px)"
                                srcset="./images/desktop/slider/hotel/desk-sl-hotel-2.jpeg 1x, ./images/desktop/slider/hotel/desk-sl-hotel-2@2x.jpeg 2x">
        
                            <!-- Мобільні та планшети -->
                            <source media="(min-width: 320px)"
                                srcset="./images/mobile/slider/hotel/mob-sl-hotel-2.jpeg 1x, ./images/mobile/slider/hotel/mob-sl-hotel-2@2x.jpeg 2x">
        
                            <img 
                            src="./images/mobile/slider/hotel/mob-sl-hotel-2.jpeg" 
                            alt="Рослини за вікном"
                            loading="lazy"
                            >
                        </picture>
                    </li>
                </ul>
        
                <ul class="hotel-gallery-triple-list-icons list">
                    <li class="hotel-gallery-triple-item-icon">
                        <svg width="32" height="32">
                            <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="32" height="32">
                            <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        
            <div class="hotel-gallery-triple-wrapper-btn">
                <a class="hotel-gallery-triple-link link hotel-gallery-triple-btn" href="./room.html">Детальніше</a>
                <button class="hotel-gallery-triple-button hotel-gallery-triple-btn js-open-modal" data-modal="Переглянути ціни" type="button">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>