// Максим
.hero {
  &__hotel {
    //   MOBILE
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/mobile/background/mob-bg-room.jpeg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/mobile/background/mob-bg-room@2x.jpeg);
    }

    //   TABLET
    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/tablet/background/tabl-bg-room.jpeg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/tablet/background/tabl-bg-room@2x.jpeg);
      }
    }

    //   DESKTOP
    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/desktop/background/desk-bg-room.jpeg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/desktop/background/desk-bg-room@2x.jpeg);
      }
    }
  }
}
.padding-button-hero {
    padding: 14px 32px;
}
.hero-wrapper {
  &--hotel {
    margin-bottom: 178px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 218px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 242px;
    }
  }

  &__title {
    &--hotel {
      margin-bottom: 32px;
    }
  }
}
