<footer class="footer-section">
    <div class="footer-container container">
        <a href="#" class="footer-logo"><span>MIMINO</span></a>
        <nav class="footer-nav">
            <ul class="footer-list list">
                <li><a href="./hotel.html" class="footer-nav-item">Готель</a></li>
                <li><a href="./restaurant.html" class="footer-nav-item">Ресторан</a></li>
                <li><a href="./room.html" class="footer-nav-item">Номер</a></li>
            </ul>
        </nav>
        <ul class="footer-social-item list">
            <li>
                <a href="https://web.telegram.org/z/" target="_blank"
                rel="noopener noreferrer" class="footer-social-link"><span class="footer-social-item">Telegram</span>
                <svg class="footer-social-icon" width="24" height="24">
                    <use href="./images/sprite-svg.svg#icon-telegram"></use></svg></a></li>
            <li>
                <a href="https://www.facebook.com" target="_blank"
                        rel="noopener noreferrer" class="footer-social-link"><span class="footer-social-item">Facebook</span>
                <svg class="footer-social-icon" width="24" height="24">
                            <use href="./images/sprite-svg.svg#icon-facebook"></use></svg></a></li>
             <li>
                <a href="https://www.instagram.com" target="_blank"
                                rel="noopener noreferrer" class="footer-social-link"><span class="footer-social-item">Instagram</span>
                 <svg class="footer-social-icon" width="24" height="24">
                            <use href="./images/sprite-svg.svg#icon-instagram"></use></svg></a></li>
        </ul>
    </div>
</footer>