<!-- МАКСИМ. Разметка хедера -->
<header class="header">
  <div class="header__container container">
    <a href="index.html" class="header__logo link">Mimiho</a>
    <nav class="header__nav">
      <ul class="header__nav--list list">
        <li class="header__nav--item">
          <a href="./restaurant.html" class="header__nav--link link"
            >Ресторан</a
          >
        </li>
        <li class="header__nav--item header-contacts">
          <a href="tel:+380955559533" class="header-contacts__link link">
            <svg class="header-contacts__icons" width="24" height="24">
              <use href="./images/sprite-svg.svg#icon-telephone"></use>
            </svg>
            <span class="header-contacts__number">095 555 95 33</span>
          </a>
        </li>
      </ul>
      <ul class="header__nav--list list">
        <li class="header__nav--item">
          <a href="./hotel.html" class="header__nav--link link">Готель</a>
        </li>
        <li class="header__nav--item header-contacts">
          <a href="tel:+3806684910892" class="header-contacts__link link">
            <svg class="header-contacts__icons" width="24" height="24">
              <use href="./images/sprite-svg.svg#icon-telephone"></use>
            </svg>
            <span class="header-contacts__number">066 849 10 89</span>
          </a>
        </li>
      </ul>
    </nav>
    <a
      href="https://goo.gl/maps/aqaGtHRSXvMGbwPS6"
      target="_blank"
      rel="noreferrer noopener"
      class="header__map header__map__link link"
    >
      <svg class="header__map--icon" width="20" height="20">
        <use href="./images/sprite-svg.svg#icon-map-point"></use>
      </svg>
      <span class="header__map--address"
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</span
      >
    </a>
    <ul class="header-socials header-socials__list list">
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
