// ІРИНА КУЦЕВОЛ

.restaurant-menu-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--background-main-color);
}

.restaurant-section-title {
  margin-bottom: 32px;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
}

.menu-dishes-title {
  margin-bottom: 16px;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
}

.dish-name {
  margin-bottom: 4px;

  font-family: var(--text-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}

.dessert-item,
.drink-item {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}

.dish-descr {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
}

// .chicken-wings,
// .caesar-salad {
//   max-width: 217px;
// }

.dish-name-descr-container {
  max-width: 221px;
}

.dish-weight {
  font-family: var(--text-font);
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}

.dish-price {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}

.weight-price-container {
  margin-top: 16px;
}

.main-dishes-list,
.side-dishes-list,
.salads-list,
.desserts-list {
  margin-bottom: 16;
}

.table-book-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);

  letter-spacing: 0.02em;
  color: var(--accent-yellow);

  width: 236px;
  height: 48px;
  background: var(--main-black);
  border: 2px solid var(--background-main-color);
  border-radius: 25px;

  cursor: pointer;

  transition-property: background-color border-color;
  transition-duration: 250ms;
  transition-property: cubic-bezier(0.4, 0, 0.2, 1);
}

.table-book-btn:hover,
.table-book-btn:focus,
.table-book-btn:active {
  background-color: var(--main-white);
  border-color: var(--accent-yellow);
}

.menu-dish-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.menu-dish-container:last-child {
  margin-bottom: 0;
}

.dish-price {
  margin-left: 32px;
}

@media screen and (max-width: 387px) {
  .restaurant-section-title {
    font-size: 24px;
  }

  .menu-dishes-title {
    font-size: 16px;
  }
  .dish-name {
    font-size: 12px;
  }
  .dish-descr {
    font-size: 8px;
  }

  .dish-price,
  .dish-weight {
    font-size: 10px;
  }

  .dish-price {
    margin-left: 24px;
  }

  .dish-name-descr-container {
    max-width: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-section {
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: var(--background-section-color-accent);
  }

  .menu-tablet-container {
    display: flex;
    justify-content: space-between;
  }

  .restaurant-section-title {
    margin-bottom: 40px;
  }

  .menu-dishes-title {
    margin-bottom: 20px;
  }

  .menu-dish-container {
    gap: 44px;
  }

  .salads-list {
    margin-bottom: 20px;
  }

  .salads-list li:last-child {
    margin-bottom: 0;
  }

  .dish-price {
    margin-left: 60px;
  }

  .main-dishes-list,
  .salads-list,
  .desserts-list {
    margin-bottom: 20px;
  }

  .side-dishes-list {
    margin-bottom: 0;
  }

  .table-book-btn {
    margin-right: 0;
    margin-top: 41px;
    border: 2px solid var(-background-section-color-accen);
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-menu-section {
    padding-top: 58px;
    padding-bottom: 60px;
  }

  .menu-dishes-title {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .dish-name {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .dish-price {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .dish-name-descr-container {
    max-width: 291px;
  }

  .menu-dish-container {
    margin-bottom: 12px;
  }

  .desserts-list li,
  .drinks-list li {
    margin-bottom: 8px;
  }

  .dessert-item,
  .drink-item {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .table-book-btn {
    margin-top: 32px;
  }
}
