<!-- MAKSYM. -->
<section class="hero hero__main section">
  <div class="hero__container container">
    <div class="hero-wrapper hero-wrapper--homepage">
      <h1 class="hero-wrapper__title hero-wrapper__title--homepage">
        <span class="center-fix"> </span>Mimiho
      </h1>
      <h2 class="hero-wrapper__undertitle hero-wrapper__undertitle--homepage">
        Ресторанно-готельний комплекс
      </h2>
      <p class="hero-wrapper__tagline">Смак життя 24/7</p>
    </div>
    <div class="hero-feedback-wrapper">
      <a
        href="https://goo.gl/maps/ZLxpuzTgKzrtv1GB9"
        class="hero-map hero-map__link link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-map__icon" width="24" height="24">
          <use href="/src/images/sprite-svg.svg#icon-map-point"></use>
        </svg>
        <span class="hero-map__address">
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </span>
      </a>
      <div class="hero-buttons__wrapper">
        <button
          type="button"
          class="hero-buttons js-open-modal"
          data-modal="Забронювати столик"
        >
          Забронювати столик
        </button>
        <button
          type="button"
          class="hero-buttons js-open-modal"
          data-modal="Забронювати номер"
        >
          Забронювати номер
        </button>
      </div>
    </div>
    <ul class="hero-socials hero-socials__list list">
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-socials__link link"
          href=""
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials__icons" width="24" height="24">
            <use href="./images/sprite-svg.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
