<!-- Альона Петровська -->

<section class="homepage-hotel-main-section">
    <div class="container">
    <a href="./index.html" class="link">MIMIHO</a>
    <h2 class="homepage-hotel-main-section-tittle">Готель</h2>
    <p class="homepage-hotel-main-section-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <ul class="homepage-hotel-main-slider list">
      <li class="homepage-hotel-main-icon">
        <picture class="homepage-hotel-main-slider-picture">
        <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-1.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
        <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-1.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
        <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
        <img
          class="homepage-hotel-main-slider-img"
          src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg"
          alt="Hotel room"
          width="270"/>
      </picture>
    </li>
      <li class="homepage-hotel-main-icon">
        <picture class="homepage-hotel-main-slider-picture">
          <source
            media="(min-width: 1280px)"
            srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-2.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
            media="(min-width: 1024px)"
            srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-2.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
            media="(min-width: 414px)"
            srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
          <img
            class="homepage-hotel-main-slider-img"
            src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg" 
            alt="Hotel breakfast"
            width="162"/>
        </picture>
      </li>
      <li class="homepage-hotel-main-icon">
        <picture class="homepage-hotel-main-slider-picture">
          <source
            media="(min-width: 1280px)"
            srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-3.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-3@2x.jpeg 2x" type="image/jpeg"/>
          <source
            media="(min-width: 1024px)"
            srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-3.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-3@2x.jpeg 2x" type="image/jpeg"/>
          <source
            media="(min-width: 414px)"
            srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-4.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-4@2x.jpeg 2x" type="image/jpeg"/>
          <img
            class="homepage-hotel-main-slider-img"
            src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-4.jpeg"
            alt="Hotel reception"
            width="270"/>
        </picture>
      </li>
    </ul>
    <ul class="homepage-hotel-main-btn list">
      <li><button class="js-open-modal" data-modal="Забронювати номер" type="button">Забронювати номер</button></li>
      <li><button class="js-open-modal" data-modal="Переглянути ціни" type="button">Переглянути ціни</button></li>
    </ul>
  </div>
  </section>









