<!-- Альона Петровська -->
<section class="homepage-hotel-main-section">
  <div class="homepage-hotel-main container">
    <div class="homepage-hotel-main-first">
    <a href="./index.html" class="homepage-hotel-logo link">MIMIHO</a>
    <h2 class="homepage-hotel-main-section-tittle">Готель</h2>
    <p class="homepage-hotel-main-section-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
    <div class="homepage-hotel-main-second" >
    <ul class="homepage-hotel-main-slider list">
      <li class="homepage-hotel-main-icon hr">
        <picture class="homepage-hotel-main-slider-picture">
          <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-1.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-1.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
          <img
          class="homepage-hotel-main-slider-img"
          src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg"
          alt="Hotel room"
          width="270"/>
        </picture>
      </li>
      <li class="homepage-hotel-main-icon">
        <picture class="homepage-hotel-main-slider-picture">
          <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-2.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-2.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-1@2x.jpeg 2x" type="image/jpeg"/>
          <img
          class="homepage-hotel-main-slider-img hb"
          src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-1.jpeg" 
          alt="Hotel breakfast"
          width="162"/>
        </picture>
      </li>
      <li class="homepage-hotel-main-icon">
        <picture class="homepage-hotel-main-slider-picture">
          <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section4/desk-sl-hp-s4-3.jpeg, ./images/desktop/slider/hp/section4/desk-sl-hp-s4-3@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section4/tabl-sl-hp-s4-3.jpeg, ./images/tablet/slider/hp/section4/tabl-sl-hp-s4-3@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section4/mob-sl-hp-s4-4.jpeg, ./images/mobile/slider/hp/section4/mob-sl-hp-s4-4@2x.jpeg 2x" type="image/jpeg"/>
          <img
          class="homepage-hotel-main-slider-img hr"
          src="./images/mobile/slider/hp/section4/mob-sl-hp-s4-4.jpeg"
          alt="Hotel reception"
          width="270"/>
        </picture>
      </li>
    </ul>
    
    <div class="homepage-hotel-main-btn-wrapper">
    <button type="button" class="homepage-hotel-main-btn js-open-modal" data-modal><span class="homepage-btn-text">Забронювати номер</span></button>
    <a href="./hotel.html" class="homepage-hotel-main-link link"><span class="homepage-btn-text">Переглянути ціни</span></a>
    </div>
    </div>
    <ul class="svg-list list">
      <li>
          <svg width="32" height="32" class="arrow-white">
              <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
          </svg>
      </li>
      <li>
          <svg width="32" height="32" class="arrow-white">
              <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
          </svg>
      </li>
    </ul>

  </div>
</section>
