<!-- Mariia Yefymenko -->
<section class="homepage-about-restaurant">
  <div class="container">
    <h2 class="hidden homepage-restaurant-title">About our restaurant</h2>
    <p class="homepage-restaurant-undertitle">Amet minim mollit non</p>
    <a class="homepage-restaurant-logo link" href="./index.html">MIMIHO</a>
    <p class="hp-desc homepage-restaurant-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="homepage-restaurant-wrapper">
      <picture class="homepage-restaurant-hall">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desktop/desk-hp-1.jpeg    1x,
            ./images/desktop/desk-hp-1@2x.jpeg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/tablet/tabl-hp-1.jpeg    1x,
            ./images/tablet/tabl-hp-1@2x.jpeg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/mobile/mob-hp-1.jpeg    1x,
            ./images/mobile/mob-hp-1@2x.jpeg 2x
          "
          type="image/jpeg"
        />
        <img
          class="homepage-restaurant-pic"
          src="./images/mobile/mob-hp-1.jpeg"
          alt="Restaurant dining hall"
          loading="lazy"
          width="460"
          height="574"
        />
      </picture>

      <div class="homepage-restaurant-inner">
        <picture class="homepage-restaurant-lounge">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/desktop/desk-hp-2.jpeg    1x,
              ./images/desktop/desk-hp-2@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/tablet/tabl-hp-2.jpeg    1x,
              ./images/tablet/tabl-hp-2@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/mobile/mob-hp-2.jpeg    1x,
              ./images/mobile/mob-hp-2@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <img
            class="homepage-restaurant-fig"
            src="./images/mobile/mob-hp-2.jpeg"
            alt="Restaurant lounge hall"
            loading="lazy"
            width="460"
            height="574"
          />
        </picture>

        <p class="hp-figcaption homepage-restaurant-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="slider-hp-about">
        <div class="slider-wrapper">
          <div class="slider-el">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-1@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-1.jpeg"
                alt="Dinner"
                loading="lazy"
                width="254"
                height="254"
              />
            </picture>
          </div>

          <div class="slider-el">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-3.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-3.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-3.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-3@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-3.jpeg"
                alt="Restaurant bar"
                loading="lazy"
                width="254"
                height="254"
              />
            </picture>
          </div>

          <div class="slider-el">
            <picture class="homepage-restaurant-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4.jpeg    1x,
                  ./images/desktop/slider/hp/section1/desk-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4.jpeg    1x,
                  ./images/tablet/slider/hp/section1/tabl-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg    1x,
                  ./images/mobile/slider/hp/section1/mob-sl-ph-s1-4@2x.jpeg 2x
                "
                type="image/jpeg"
              />
              <img
                class="homepage-restaurant-img"
                src="./images/mobile/slider/hp/section1/mob-sl-ph-s1-4.jpeg"
                alt="Restaurant terrace"
                loading="lazy"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>

        <div class="slider-buttons hp-about-restaurant">
          <div class="slider-button-prev slider-button">
            <svg class="slider-button-icon" width="32" height="32">
              <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="slider-button-next slider-button">
            <svg class="slider-button-icon" width="32" height="32">
              <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
