<!-- Владислав Литвиненко -->
<section class="contacts">
    <div class="container">
        <h2 class="hidden">Contacts</h2>
    <a href="#" class="contacts-logo">MIMIHO</a>
    <p class="">Ресторанно-готельний комплекс</p>
    <div>
        <div class="">
            <p class="">Ресторан</p>
            <svg class="" width="12" height="20">
             <use href="/src/images/sprite-svg.svg#icon-telephone" ></use>
            </svg>  
            <a href="tel:0955559533" class="">095 555 95 33</a>
        </div>
        <div class="">
            <p class="">Готель</p>
            <svg class="" width="12" height="20">
             <use href="/src/images/sprite-svg.svg#icon-telephone" ></use>
            </svg>  
            <a href="tel:0668491089">066 849 10 89</a> <a href="tel:0672758540">067 275 85 40</a>
         </div>
         <div class="">
            <svg class="" width="12" height="20">
                <use href="/src/images/sprite-svg.svg#icon-map-point" ></use>
            </svg>
            <a href="https://goo.gl/maps/ZLxpuzTgKzrtv1GB9" class="" target="_blank" rel="noopener noreferrer nofollow">Україна, м. Полтава,
                вул. Маршала Бірюзова, 15</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923397025346!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1674938028260!5m2!1sru!2sua" width="634" height="412" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
        </div>
    </div>
</section>