<!-- Альона Петровська -->
<section class="homepage-hotel-section">
  <div class="homepage-hotel-container container">
    <h2 class="hidden">About our hotel</h2>
    <div class="homepage-hotel-first-wrapper">
      <div class="homepage-hotel-content-box">
        <p class="homepage-hotel-note">Amet minim mollit non</p>
        <a href="./index.html" class="homepage-hotel-logo link">MIMIHO</a>
        <p class="homepage-hotel-text-about">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <picture class="homepage-hotel-picture">
        <source
        media="(min-width: 1280px)"
        srcset="./images/desktop/desk-hotel-room.jpeg, ./images/desktop/desk-hotel-room@2x.jpeg 2x" type="image/jpeg"/>
        <source
        media="(min-width: 1024px)"
        srcset="./images/tablet/tabl-hotel-room.jpeg, ./images/tablet/tabl-hotel-room@2x.jpeg 2x" type="image/jpeg"/>
        <source
        media="(min-width: 414px)"
        srcset="./images/mobile/mob-hotel-room.jpeg, ./images/mobile/mob-hotel-room@2x.jpeg 2x" type="image/jpeg"/>
        <img
        class="homepage-hotel-img ht-room"
        src="./images/mobile/mob-hotel-room.jpeg"
        alt="Hotel room"
        width="460"/>
      </picture>
    </div>
    <div class="homepage-hotel-second-wrapper">
      <p class="homepage-hotel-text-about gold">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <picture class="homepage-hotel-picture">
        <source
        media="(min-width: 1280px)"
        srcset="./images/desktop/desk-hp-room-2.jpeg, ./images/desktop/desk-hp-room-2@2x.jpeg 2x" type="image/jpeg"/>
        <source
        media="(min-width: 1024px)"
        srcset="./images/tablet/tabl-hp-room-2.jpeg, ./images/tablet/tabl-hp-room-2@2x.jpeg 2x" type="image/jpeg"/>
        <source
        media="(min-width: 414px)"
        srcset="./images/mobile/mob-hp-room-2.jpeg, ./images/mobile/mob-hp-room-2@2x.jpeg 2x" type="image/jpeg"/>
        <img
        class="homepage-hotel-img ht-foye"
        src="./images/mobile/mob-hp-room-2.jpeg"
        alt="Hotel foye"
        width="460"/>
      </picture>
    </div>
    <div class="homepage-hotel-slider-wrapper">
    <ul class="homepage-hotel-slider list">
      <li class="homepage-hotel-icon">
        <picture class="homepage-hotel-slider-picture">
          <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section3/desk-sl-ph-s3-1.jpeg, ./images/desktop/slider/hp/section3/desk-sl-ph-s3-1@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section3/tabl-sl-ph-s3-1.jpeg, ./images/tablet/slider/hp/section3/tabl-sl-ph-s3-1@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section3/mob-sl-hp-s3-1.jpeg, ./images/mobile/slider/hp/section3/mob-sl-hp-s3-1@2x.jpeg 2x" type="image/jpeg"/>
          <img
          class="homepage-hotel-slider-img"
          src="./images/mobile/slider/hp/section3/mob-sl-hp-s3-1.jpeg"
          alt="Hotel reception"
          width="254"/>
        </picture>
      </li>
      <li class="homepage-hotel-icon">
        <picture class="homepage-hotel-slider-picture">
          <source
          media="(min-width: 1280px)"
          srcset="./images/desktop/slider/hp/section3/desk-sl-ph-s3-2.jpeg, ./images/desktop/slider/hp/section3/desk-sl-ph-s3-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 1024px)"
          srcset="./images/tablet/slider/hp/section3/tabl-sl-ph-s3-2.jpeg, ./images/tablet/slider/hp/section3/tabl-sl-ph-s3-2@2x.jpeg 2x" type="image/jpeg"/>
          <source
          media="(min-width: 414px)"
          srcset="./images/mobile/slider/hp/section3/mob-sl-hp-s3-3.jpeg, ./images/mobile/slider/hp/section3/mob-sl-hp-s3-3@2x.jpeg 2x" type="image/jpeg"/>
          <img
          class="homepage-hotel-slider-img bd"
          src="./images/mobile/slider/hp/section3/mob-sl-hp-s3-3.jpeg"
          alt="Hotel bedroom"
          width="254"/>
        </picture>
      </li>
    </ul>
    </div>
    <ul class="svg-list list">
      <li>
          <svg width="32" height="32">
              <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
          </svg>
      </li>
      <li>
          <svg width="32" height="32">
              <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
          </svg>
      </li>
    </ul>
  </div>
</section>