<!-- Альона Петровська -->
<section class="homepage-hotel-main-section">
  <div class="homepage-hotel-main container">
    <div class="homepage-hotel-main-first">
    <a href="./index.html" class="homepage-hotel-logo link">MIMIHO</a>
    <h2 class="homepage-hotel-main-section-tittle">Готель</h2>
    <p class="homepage-hotel-main-section-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
    <div class="homepage-hotel-main-second" >
      <!-- ///////////////////////////////////////////////////////////////// -->

      <!-- homepage-hotel-main-slider list -->
      <!-- ////////////////////////////////////////////////////////////////////////////////// -->
      <div class="homepage-restaurant-slider">
        <div class="slider-wrapper">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide homepage-restaurant-element slider-el">
                <picture class="restaurant-holder">
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="restaurant-pic"
                    srcset="
                      ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                      ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                    "
                    src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                    alt="Steak with a rosemary sprig"
                    loading="lazy"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide homepage-restaurant-element slider-el mob"
              >
                <picture class="restaurant-holder">
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="restaurant-pic"
                    srcset="
                      ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                      ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                    "
                    src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                    alt="Steak with a rosemary sprig"
                    loading="lazy"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide homepage-restaurant-element slider-el tabl"
              >
                <picture class="restaurant-holder second">
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-2.jpeg    1x,
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-2@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="restaurant-pic"
                    srcset="
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-2.jpeg    1x,
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-2@2x.jpeg 2x
                    "
                    src="./images/tablet/slider/hp/section2/tabl-sl-ph-s2-2.jpeg"
                    alt="Snack"
                    loading="lazy"
                    width="162"
                    height="270"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide homepage-restaurant-element slider-el tabl third"
              >
                <picture class="restaurant-holder third">
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-3.jpeg    1x,
                      ./images/desktop/slider/hp/section2/desk-sl-ph-s2-3@2x.jpeg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="restaurant-pic"
                    srcset="
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-3.jpeg    1x,
                      ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-3@2x.jpeg 2x
                    "
                    src="./images/tablet/slider/hp/section2/tabl-sl-ph-s2-3.jpeg"
                    alt="Salad"
                    loading="lazy"
                    width="270"
                    height="270"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="button-wrapper slider-buttons hp-restaurant">
          <div
            class="swiper-button-next slider-button-next slider-button accent"
          >
            <svg class="arrow slider-button-icon">
              <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div
            class="swiper-button-prev slider-button-prev slider-button accent"
          >
            <svg class="arrow slider-button-icon">
              <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    
    
    <div class="homepage-hotel-main-btn-wrapper">
      <button type="button" class="homepage-hotel-main-btn js-open-modal" data-modal="Забронювати номер"><span class="homepage-btn-text">Забронювати номер</span></button>
      <a href="./hotel.html" class="homepage-hotel-main-link link"><span class="homepage-btn-text">Переглянути ціни</span></a>
    </div>

    <!-- ///////////////////////////////////////////////////////////////////////////////// -->

  </div>
</section>
