<!-- Владислав Литвиненко -->
<section class="contacts">
    <div class="main-contacts-wrapper container">
        <h2 class="hidden">Contacts</h2>
    <a href="#" class="contacts-logo link">MIMIHO</a>
    <p class="contacts-main-text">Ресторанно-готельний комплекс</p>
    <div class="contacts-restaurant-wrapper">
        <p class="contacts-wrapper-text">Ресторан</p>
        <div class="contacts-wrapper">
            <a href="tel:0955559533" class="contacts-link link">
                <svg class="contacts-icon" width="12" height="20">
             <use href="/src/images/sprite-svg.svg#icon-telephone"></use>
            </svg>095 555 95 33</a>
        </div>
    </div>
    <div class="contacts-hotel-wrapper">
        <p class="contacts-tel-wrapper-text">Готель</p>
        <div class="contacts-tel-wrapper">
            <svg class="contacts-icon" width="12" height="20">
             <use href="/src/images/sprite-svg.svg#icon-telephone"></use>
            </svg>  
            <a href="tel:0668491089" class="contacts-link-hotel link">066 849 10 89</a><a href="tel:0672758540" class="contacts-link-hotel-second link" >067 275 85 40</a>
         </div>
    </div>    
         <div class="map-wrapper">
            <a href="https://goo.gl/maps/ZLxpuzTgKzrtv1GB9" class="map-link link" target="_blank" rel="noopener noreferrer nofollow">
                <svg class="map-icon" width="12" height="20">
                    <use href="/src/images/sprite-svg.svg#icon-map-point"></use>
                </svg><span class="map-wrapper-adress">Україна, м. Полтава, вул. Маршала Бірюзова, 15</span></a>
         </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923397025346!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1674938028260!5m2!1sru!2sua" width="634" height="412" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="card-map"></iframe>
        </div>
</section>