<!-- Mariia Yefymenko -->
<section class="homepage-restaurant-main">
  <div class="homepage-restaurant-container">
    <div class="container">
      <div class="homepage-restaurant-top">
        <a
          class="homepage-restaurant-logo link hp-restaurant"
          href="./index.html"
          >MIMIHO</a
        >
        <h2 class="homepage-restaurant-title">Ресторан</h2>

        <p class="homepage-restaurant-text hp-restaurant">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="homepage-restaurant-bottom">
        <div class="homepage-restaurant-slider">
          <div class="slider-wrapper">
            <div class="homepage-restaurant-element slider-el">
              <picture class="restaurant-holder">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-pic"
                  src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                  alt="Steak with a rosemary sprig"
                  loading="lazy"
                  width="370"
                  height="270"
                />
              </picture>
            </div>
            <div class="homepage-restaurant-element slider-el">
              <picture class="restaurant-holder">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-pic"
                  src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                  alt="Steak with a rosemary sprig"
                  loading="lazy"
                  width="370"
                  height="270"
                />
              </picture>
            </div>
            <div class="homepage-restaurant-element slider-el">
              <picture class="restaurant-holder">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-pic"
                  src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                  alt="Steak with a rosemary sprig"
                  loading="lazy"
                  width="370"
                  height="270"
                />
              </picture>
            </div>
            <div class="homepage-restaurant-element slider-el">
              <picture class="restaurant-holder">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1.jpeg    1x,
                    ./images/desktop/slider/hp/section2/desk-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1.jpeg    1x,
                    ./images/tablet/slider/hp/section2/tabl-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg    1x,
                    ./images/mobile/slider/hp/section2/mob-sl-ph-s2-1@2x.jpeg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-pic"
                  src="./images/mobile/slider/hp/section2/mob-sl-ph-s2-1.jpeg"
                  alt="Steak with a rosemary sprig"
                  loading="lazy"
                  width="370"
                  height="270"
                />
              </picture>
            </div>
          </div>

          <div class="slider-buttons hp-restaurant">
            <div class="slider-button prev">
              <svg class="slider-button-icon" width="32" height="32">
                <use href="./images/sprite-svg.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="slider-button next">
              <svg class="slider-button-icon" width="32" height="32">
                <use href="./images/sprite-svg.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="homepage-restaurant-buttons">
          <button class="homepage-restaurant-btn js-open-modal" data-modal="Забронювати столик" type="button">
            Забронювати столик
          </button>
          <a
            class="homepage-restaurant-link link"
            href="./restaurant.html"
            target="_blank"
            rel="noopener noreferrer"
            >Переглянути меню</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
